@use "bulma/sass" with (
  $primary: #2F84FF,
  $link: #F4F3F0,
  $text: #21232B
);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
}

:root[data-theme="dark"] {
  --bulma-body-background-color: #21232B;
}

.is-spaced-between {
  display: flex;
  justify-content: space-between;
}
