@use "bulma/sass" with (
  $primary: rgb(35, 244, 139)
);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
}

@media (data-theme: dark) {
  :root {
    background-color: #242424;
  }
}

@media (data-theme: light) {
  :root {
    background-color: #efefef !important;
  }
}
