@use "bulma/sass" with (
  $primary: rgb(35, 244, 139)
);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
}

:root[data-theme="dark"] {
  --bulma-body-background-color: #222;
}

:root[data-theme="light"] {
  --bulma-body-background-color: #efefef !important;
}

.is-spaced-between {
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url("/hero-background.webp");
  background-size: contain;

  .title, .subtitle {
    background: var(--bulma-info);
    mix-blend-mode: luminosity;
  }

  .title {
    padding: 0.75rem 1rem 0 1rem;
  }

  .subtitle {
    padding: 0 1rem 0.75rem 1rem;
  }
}
